{% extends "base.html" %}
{% block content %}
    {% if request.user.is_authenticated %}
        <p><a href="{% url 'welcome' %}">already logged in. click here.</a></p>
    {% else%}
    <div id="login">
        <form class="form-horizontal" name="LoginForm" action="/accounts/login/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Login</button>
            </div>
        </div>
            <p><a href="{% url 'register' %}">Register</a></p>
        </form>
    </div>
    {% endif %}
{% endblock %}